/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

/* Remove margin and padding of all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Enable Guide Lines when editing styles: */
    /* border: .5px dotted cyan; */
}

html, body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: black;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 1em 0;
    font-size: 15px;
}

p {
    font-weight: 300;
    color: rgb(98, 98, 98);
}

/* HEADER and NAVBAR */

#logo {
    max-width: 135px;
    margin: 18px 10px 10px 10px;
}

.navbar1, .navbar2 {
    display: flex;
    border-bottom: rgb(209, 209, 209) solid 1px;
    justify-content: space-between;
    padding: 0 20px;
    
}

.navbar1 ul, .navbar2 ul {
    display: flex;
    align-items: center;
}

.navbar2 li {
    margin: 0px 10px 0 10px;
    font-size: 25px;
    height: 75px;
    display: flex;
    align-items: center;
}

.menu li {
    font-size: 18px;
    padding: 10px;
}

button {
    background-color: #2d5d2a;
    padding: 10px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    border: 1px solid #2d5d2a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button:hover {
    background-color: rgb(49, 62, 49);
}

.icons {
    width: 24px;
    height: auto;
    cursor: pointer;
}

.promo {
    display: flex;
    justify-content: flex-end;
    color: #e70100;
    align-items: center;
}

.promo input {
    border: 1px solid rgb(146, 146, 146);
    border-radius: 6px 0 0 6px;
    padding: 9px;
}

input:focus {
    outline: 1px solid #44cf3a;
    border: 0;
}

.promo button {
    border-radius: 0 8px 8px 0;
    margin-right: 20px;
    border: none;
}

.promo h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px;
}

.cart-container {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: rgb(209, 209, 209) solid 1px;
    padding-left: 20px;
}

/* End of HEADER and NAVBAR */


/* MAIN */

.hero-image-container {
    transform: translateX(-7%);
    border-right: none;
}

section {
    background-color: #2d5d2a;
}

.feature {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.hover1, .hover2, .hover3 {
    position: absolute;
    display: none;
}

.img-container1:hover .hover1,
.img-container2:hover .hover2,
.img-container3:hover .hover3 {
    display: block;
}

/* End of MAIN */


/* FOOTER */

footer {
    color: rgb(98, 98, 98);
    font-size: 12px;
    margin-bottom: 10px;
}

footer li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px;
}

footer .navbar1 {
    border-top: rgb(209, 209, 209) solid 1px;
    border-bottom: none;
    padding: 45px 20px;
}

footer p {
    padding: 1rem 30px;
}

footer img {
    filter: opacity(60%);
}

footer img:hover {
    filter: opacity(100%);
}

strong {
    color: black;
}

footer a {
    text-decoration: none;
    color: rgb(98, 98, 98)
}

footer a:hover {
    text-decoration: underline;
}

/* End of FOOTER */


/* DETAILS styling */

.pizza-info {
    display: flex;
    justify-content: center;
    border-bottom: rgb(222, 226, 230) solid 1px;
    box-shadow: rgba(66, 66, 66, 0.15) 0px 10px 20px 0px inset;
}

.pizza-info img {
    width: 50%;
}

.pizza-details {
    padding: 5%;
    margin-right: 5%;
}

.pizza-details a {
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pizza-details h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pizza-details button {
    padding: 7px 12px;
}

select {
    margin: 1em 0;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    font-size: 15px;
}

select:focus {
    outline: 1px solid #2d5d2a;
}

.nutri-info {
    padding: 5% 10%;
}

.sub-info {
    margin: .5em 0 1em 0;
}

/* End of DETAILS styling */


/* CHECKOUT styling */

.checkout-main {
    box-shadow: rgba(66, 66, 66, 0.15) 0px 10px 20px 0px inset;
}

.order-container, .order-total {
    max-width: 80%;
    margin: auto;
    border-bottom:  rgb(230, 230, 230) 1px solid;
    padding-bottom: 30px;
}

.order-container {
    padding-top: 35px;
}

.order-content {
    display: flex;
    /* justify-content: space-between; */
}

.order-details {
    flex-grow: 1;
    padding: 1.33em;
    font-size: 18px;
}

.order-details > .details {
    font-size: 14px;
    color:#2d5d2a;
}

.pizza-thumbnail {
    width: 110px;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.customer-form, .order-total {
    border: rgb(230, 230, 230) 1px solid;
    margin: 5% 10% 10px 10%;
    border-radius: 6px;
    font-weight: 200;
    color: rgb(98, 98, 98);
    padding: 20px;
}

.order-total table tr {
    display: flex;
    justify-content: space-between;
}

.order-total table {
    width: 100%;
}

.order-total td {
    color: black;
    font-weight: 500;
    padding: 1em 0;
}

.order-container h2, .customer-form h2, .total {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    margin: 1em 0;
    font-size: 1.75rem;
}

.cc {
    color: black;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.checkout-form {
    display: flex;
    flex-wrap: wrap;
    gap: .8em;
}

.checkout-form div > input {
    margin-top: .8em;
}


.checkout-form input, .price select {
    border: rgb(230, 230, 230) 1px solid;
    border-radius: 6px;
    padding: 13px;
}

#address, #card-number, #card-name {
    display: block;
    width: 100%;
}

.order-total > .promo {
    justify-content: flex-end;

}

.order-total > .promo > button {
    margin-right: 0;
}

.place-order {
    width: 50%;
    font-size: 21px;
    background-color: rgb(230, 0, 0);
    border: 0;
    margin-bottom: 2em;
    margin-top: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
}

/* End of CHECKOUT styling */


/* Media Queries */

@media screen and (max-width: 750px) {
    
    .menu li {
        display:none;
    }
    
    .promo {
        display:none
    }
    
    #logo {
        margin: 10px;
    }
    
    .navbar1, .navbar2 {
        justify-content: center;
    }
    
    .navbar2 {
        max-height: 2em;
    }
    
    .navbar2 li {
        font-size: 15px;
        padding: 0;
    }

    .hero-image-container img {
        max-width: 800px;
    }

    .hero-image-container {
        transform: translateX(-10%);
    }

    .feature {
        padding: 20px;
    }

    .mobile-hide, .mobile-hide li {
        display: none;
    }

    footer p {
        text-align: center;
        padding: 0;
    }

    /* Details page: Media queries */
    .pizza-info {
        flex-wrap: wrap;
    }

    .pizza-info img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .pizza-details {
        padding: 5% 10%;
    }
    /* End Details page: Media queries */

    .price > select {
        display: none;
    }
}