.product-card {
    cursor: pointer;
}
.product-card:hover {
    background-color: antiquewhite;
}

.price {
    text-align: right;
}

.id, .product {
    text-align: left;
    padding-right: 0;
    margin-right: 0;
}